#title{
  background-color: #ff4c68;
  color: white;
  position: relative;
  z-index: 0;
  padding-bottom: 100px;
}

i:hover{
  color: #ff4c68;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 4rem 0;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 2rem;
  padding: 0;
}

.nav-item{
  padding: 0 1rem;
}

.row{
  position: relative;
  top: -10px;
  z-index: 3;
  width: 100%;
}

.main-img{
  width: 80%;
  padding: 2rem;
  transform: rotate(20deg);
  position: absolute;
}

.btn{
  margin: 10% 5% 5% 0;
}


#features{
  padding: 10% 5% 10%;
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 1;
}


.feature-1, .feature-2, .feature-3{
  padding: 0 3%;
  display: inline-block;
  height: auto;
  width: auto;
  /* margin: 0 25px 0; */
}

.feature-header{
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}

.feature-para{
  color: #8f8f8f;
  font-weight: 600;
  text-align: center;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials */
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 3rem;
  margin: 2% 10%;
}

.testimonial-image{
  border-radius: 100%;
  width: 7.5rem;
  height: 7.5rem;
  margin: 1.5rem;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding: 5%;
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
  text-align: center;
  padding: 100px;
}

.card-deck{
  width: 100%;
}

.row{
  padding-top: 5%;
}

/* Media Query Breakpoint */

@media (max-width: 1028px) {

  main-img{
    transform: (0);
    position: static;
  }
}
