#title{
  background-color: #ff4c68;
  color: white;
}

i:hover{
  color: #ff4c68;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 4rem 0;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 2rem;
  padding: 0;
}

.nav-item{
  padding: 0 1rem;
}

.row{
  position: relative;
  top: -10px;
  z-index: 3;
}

.main-img{
  width: 80%;
  padding: 2rem;
  transform: rotate(20deg);
  /* position: absolute; */
  /* z-index: 2; */
}

.btn{
  margin: 10% 5% 5% 0;
}

#features{
  margin: 10% 5% 10%;
  align-items: center;
}


.feature-1, .feature-2, .feature-3{
  padding: 0 3%;
  display: inline-block;
  height: auto;
  width: auto;
  /* margin: 0 25px 0; */
}

.feature-header{
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}

.feature-para{
  color: #8f8f8f;
  font-weight: 600;
  text-align: center;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}
